[user]
  name = gbertl
  email = gilbertlcsndle@gmail.com
[core]
  editor = code -w
  fileMode = false
[alias]
  s = status
  l = log --oneline
  dc = diff --cached
[init]
  defaultBranch = main
[safe]
  directory = *
