[user]
	name = gilbertlc
	email = gilbert.lacasandile@gmail.com
[core]
  editor = nvim
	fileMode = false
[alias]
  l = log --oneline
  dc = diff --cached
  sv = !git add -A && git commit -m 'wip'
  s = status
