priority 1

snippet im
import ${2} from '${1}';
endsnippet

snippet asf
async (${1}) => ${0:${VISUAL}}
endsnippet

snippet asfb
async (${1}) => {
	${0:${VISUAL}}
}
endsnippet

extends javascript-react
