snippet asf	
async ($1) => $0
endsnippet

snippet asfb
async ($1) => {
	$0
}
endsnippet

snippet caf
const ${1:function_name} = (${2}) => ${0:${VISUAL}}
endsnippet

snippet cafb
const ${1:function_name} = (${2}) => {
	${0:${VISUAL}}
}
endsnippet
