priority 1

snippet con "console.log"
console.log($0)
endsnippet
	
snippet sfc "stateless functional component" b
const ${1:`!p snip.rv = snip.basename`} = () => {
	return (
		<div>
			$0
		</div>
	)
}

export default $1
endsnippet
